Repository ThiagoDelgado-D/Book_Lend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["yarn prettier --write", "yarn eslint --fix"],
  "*.{js,jsx}": ["yarn prettier --write", "yarn eslint --fix"],
  "*.{json,md}": ["yarn prettier --write"]
}

feat: implement server entry point with application setup and graceful shutdown
  apps/api/src/server.ts
Due: yarn prettier --write, yarn eslint --fix

feat: update package.json dependencies and scripts for improved compatibility
  apps/api/package.json
Due: yarn prettier --write

chore: update type definitions for compression and express to latest versions
  yarn.lock
Due: none

fix: update tsconfig to reference the correct entry point file
  apps/api/tsconfig.app.json
Due: yarn prettier --write

fix: replace process.env.NODE_ENV with imported NODE_ENV for consistency
  apps/api/src/server.ts
Due: yarn prettier --write, yarn eslint --fix

feat: add type definitions for application services and controller dependencies
  apps/api/src/container/types.ts
Due: yarn prettier --write, yarn eslint --fix

feat: implement DependencyContainer for managing application services
  apps/api/src/container/container.ts
Due: yarn prettier --write, yarn eslint --fix

feat: add dependency retrieval functions for various controllers
  apps/api/src/container/index.ts
Due: yarn prettier --write, yarn eslint --fix

feat: add isValidBookStatus function to validate book status
  domain/src/entities/book.ts
Due: yarn prettier --write, yarn eslint --fix

feat: add BookResponse and BooksListResponse interfaces for book API responses
  packages/api-types/src/author/author.ts
  packages/api-types/src/books/index.ts
Due: yarn prettier --write, yarn eslint --fix

chore: replace to the correct path in factory api response
  packages/api-types/src/factory.ts
Due: yarn prettier --write, yarn eslint --fix

chore: change name and add exports
  packages/api-types/src/author/index.ts
  packages/api-types/src/index.ts
Due: yarn prettier --write, yarn eslint --fix

feat: add vitest setup to the api layer
  apps/api/vitest.config.ts
Due: yarn prettier --write, yarn eslint --fix

refactor: standardization of the all controllers to handle the dependencies
  apps/api/src/controllers/auth.controller.ts
  apps/api/src/controllers/author.controller.ts
  apps/api/src/controllers/book.controller.ts
Due: yarn prettier --write, yarn eslint --fix

refactor: change the routes by a standardization way
  apps/api/src/routes/auth.routes.ts
  apps/api/src/routes/author.routes.ts
  apps/api/src/routes/book.routes.ts
Due: yarn prettier --write, yarn eslint --fix

add docs section in root to the domain and api layers
  docs/API.md
  docs/DOMAIN.md
Due: yarn prettier --write

refactor README.md
  README.md
Due: yarn prettier --write

fix: delete unnecessary section in root readme.md
  README.md
Due: yarn prettier --write

chore: specification more related to the project structure
  README.md
Due: yarn prettier --write

chore: delete readme from the api layer
  apps/api/README.md
Due: yarn prettier --write

chore: move the readme.md of the api in docs/
  docs/API.md
  docs/Database-scripts.md
Due: yarn prettier --write

feat: initialize application
  packages/api-client/package.json
  packages/api-client/tsconfig.build.json
  packages/api-client/tsconfig.json
Due: yarn prettier --write

feat: types for the config
  packages/api-client/src/types.ts
Due: yarn prettier --write, yarn eslint --fix

feat: export all api endpoints
  packages/api-client/src/endpoints.ts
Due: yarn prettier --write, yarn eslint --fix

feat: implementation of client api
  packages/api-client/src/client.ts
Due: yarn prettier --write, yarn eslint --fix

export api client to use, and init instance of the client
  packages/api-client/src/index.ts
  packages/api-client/src/singlenton.ts
Due: yarn prettier --write, yarn eslint --fix

feat: initialize storybook
  apps/web/.gitignore
  apps/web/.storybook/main.ts
  apps/web/.storybook/preview.ts
  apps/web/eslint.config.js
  apps/web/package.json
  apps/web/src/stories/Configure.mdx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix

feat: add stories for the basic components
  apps/web/src/presentation/components/cards/category-card.stories.tsx
  apps/web/src/presentation/components/cards/stats-card.stories.tsx
  apps/web/src/presentation/components/landing/search-bar.stories.tsx
Due: yarn prettier --write, yarn eslint --fix

feat: add clx function to handle styles
  apps/web/src/utils/styles/clx.ts
Due: yarn prettier --write, yarn eslint --fix

feat: install storybook in web layer adn react-router-dom
  apps/web/package.json
  yarn.lock
Due: yarn prettier --write

chore: fix issue related to the styles in tailwind.config
  apps/web/tailwind.config.js
Due: yarn prettier --write, yarn eslint --fix

chore: main, preview configuration to storybook to include the @addons and autodocs
  apps/web/.storybook/main.ts
  apps/web/.storybook/preview.ts
Due: yarn prettier --write, yarn eslint --fix

chore: delete app.css and use index.css global
  apps/web/src/App.css
  apps/web/src/index.css
Due: none

chore: delete svg unnecessary
  apps/web/src/assets/react.svg
Due: none

feat: add routes for the application
  apps/web/src/routes.tsx
Due: yarn prettier --write, yarn eslint --fix

feat: implementation the route system in app and main
  apps/web/src/App.tsx
  apps/web/src/main.tsx
Due: yarn prettier --write, yarn eslint --fix

feat: implement base logo component
  apps/web/src/presentation/components/common/logo.tsx
Due: yarn prettier --write, yarn eslint --fix

feat: nav basic component
  apps/web/src/presentation/components/common/navigation.tsx
Due: yarn prettier --write, yarn eslint --fix

feat: basic form input to search
  apps/web/src/presentation/components/common/search-box.tsx
Due: yarn prettier --write, yarn eslint --fix

feat: add static user actions in header component
  apps/web/src/presentation/components/common/header.tsx
  apps/web/src/presentation/components/common/user-actions.tsx
Due: yarn prettier --write, yarn eslint --fix
