Repository ThiagoDelgado-D/Book_Lend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["yarn prettier --write", "yarn eslint --fix"],
  "*.{js,jsx}": ["yarn prettier --write", "yarn eslint --fix"],
  "*.{json,md}": ["yarn prettier --write"]
}

feat: add author controller demonstrating clean exports
  apps/api/src/controllers/author.controller.ts
  apps/api/src/routes/author.routes.ts
Due: yarn prettier --write, yarn eslint --fix

docs: add comprehensive API documentation
  apps/api/README.md
Due: yarn prettier --write

feat: add comprehensive error handling middleware
  apps/api/src/middlewares/error-handler.ts
Due: yarn prettier --write, yarn eslint --fix

feat: add comprehensive .gitignore for Node.js API
  apps/api/.gitignore
Due: none

feat: add database configuration and environment setup
  apps/api/.env.example
  apps/api/src/config/data-source.ts
Due: yarn prettier --write, yarn eslint --fix

feat: implement TypeORM entities for core domain models
  apps/api/src/entities/author.entity.ts
  apps/api/src/entities/book.entity.ts
  apps/api/src/entities/email-verification-token.entity.ts
  apps/api/src/entities/user.entity.ts
Due: yarn prettier --write, yarn eslint --fix

feat: add TypeORM and database dependencies
  apps/api/package.json
Due: yarn prettier --write

feat; install types
  yarn.lock
Due: none

feat: implement database services and repositories
  apps/api/src/services/author.service.ts
  apps/api/src/services/book.service.ts
  apps/api/src/services/crypto-service.ts
  apps/api/src/services/index.ts
  apps/api/src/services/user.service.ts
Due: yarn prettier --write, yarn eslint --fix

feat: add database initialization and management scripts
  apps/api/src/scripts/seed-production.ts
  apps/api/src/scripts/seed-typeorm-db.ts
  apps/api/src/scripts/setup-typeorm-db.ts
Due: yarn prettier --write, yarn eslint --fix

feat: add TypeORM repository implementations
  apps/api/src/repositories/author.repository.ts
  apps/api/src/repositories/book.repository.ts
  apps/api/src/repositories/index.ts
  apps/api/src/repositories/user.repository.ts
Due: yarn prettier --write, yarn eslint --fix

fix: improve seeding scripts and add required dependencies
  apps/api/package.json
  apps/api/src/scripts/seed-production.ts
Due: yarn prettier --write, yarn eslint --fix

refactor: remove complex seeding scripts with type issues
  apps/api/src/scripts/seed-typeorm-db.ts
  apps/api/src/scripts/setup-typeorm-db.ts
Due: yarn prettier --write, yarn eslint --fix

feat: add TypeORM-based book controller and routes
  apps/api/src/controllers/book-typeorm.controller.ts
  apps/api/src/routes/book-typeorm.routes.ts
Due: yarn prettier --write, yarn eslint --fix

feat: integrate TypeORM with API application
  apps/api/package.json
  apps/api/src/app.ts
  apps/api/src/utils/load-routes.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix

refactor: update book controller to use custom repositories
  apps/api/src/controllers/book-typeorm.controller.ts
Due: yarn prettier --write, yarn eslint --fix

fix: resolve TypeScript errors in book controller
  apps/api/src/controllers/book-typeorm.controller.ts
Due: yarn prettier --write, yarn eslint --fix

fix: simplify controller return types to resolve TypeScript issues
  apps/api/src/controllers/book-typeorm.controller.ts
Due: yarn prettier --write, yarn eslint --fix

delete unnecessary comments
  apps/api/src/constants.ts
  apps/api/src/controllers/book-typeorm.controller.ts
  apps/api/src/entities/email-verification-token.entity.ts
Due: yarn prettier --write, yarn eslint --fix

fix: Issue related type timestamp to datetime
  apps/api/src/entities/book.entity.ts
Due: yarn prettier --write, yarn eslint --fix

\feat: add development database setup script
  apps/api/src/scripts/setup-dev-db.ts
Due: yarn prettier --write, yarn eslint --fix

\feat: add development database seeding script
  apps/api/src/scripts/seed-dev-db.ts
Due: yarn prettier --write, yarn eslint --fix

\feat: add combined development database utilities
  apps/api/src/scripts/dev-database.ts
Due: yarn prettier --write, yarn eslint --fix

\feat: add development database NPM scripts
  apps/api/package.json
Due: yarn prettier --write

\docs: add comprehensive README for development scripts
  apps/api/src/scripts/README.md
Due: yarn prettier --write

delete comments
  apps/api/src/scripts/dev-database.ts
  apps/api/src/scripts/seed-dev-db.ts
  apps/api/src/scripts/setup-dev-db.ts
Due: yarn prettier --write, yarn eslint --fix

chore: duplicate repositories are removed
  apps/api/src/repositories/author.repository.ts
  apps/api/src/repositories/book.repository.ts
  apps/api/src/repositories/index.ts
  apps/api/src/repositories/user.repository.ts
Due: yarn prettier --write, yarn eslint --fix

chore: TypeORM implementation is removed from controller and routes
  apps/api/src/controllers/book-typeorm.controller.ts
  apps/api/src/routes/book-typeorm.routes.ts
Due: yarn prettier --write, yarn eslint --fix

chore: Add findAll method in author, book and user service
  domain/src/services/author-service.ts
  domain/src/services/book-service.ts
  domain/src/services/user-service.ts
Due: yarn prettier --write, yarn eslint --fix

chore: Implementation of method findAll in mocked services
  domain/src/services/mocks/mock-author-service.ts
  domain/src/services/mocks/mock-book-service.ts
  domain/src/services/mocks/mock-user-service.ts
Due: yarn prettier --write, yarn eslint --fix

chore: install express-rate-limit and its types
  yarn.lock
Due: none

chore: install express-rate-limit and its types
  apps/api/package.json
Due: yarn prettier --write

refactor: add utility functions to error handler for status mapping and async wrapping
  apps/api/src/middlewares/error-handler.ts
Due: yarn prettier --write, yarn eslint --fix

feat: apply rate limiting middleware to all API routes
  apps/api/src/app.ts
Due: yarn prettier --write, yarn eslint --fix

feat: implement auth controller using domain use cases
  apps/api/src/controllers/auth.controller.ts
Due: yarn prettier --write, yarn eslint --fix

feat: create auth routes with validation and middlewares
  apps/api/src/routes/auth.routes.ts
Due: yarn prettier --write, yarn eslint --fix

chore: mount /api/auth routes in app
  apps/api/src/app.ts
Due: yarn prettier --write, yarn eslint --fix

feat: implement in-memory email verification service
  apps/api/src/services/email-verification.service.ts
Due: yarn prettier --write, yarn eslint --fix

feat: add BaseEntity with common id field
  apps/api/src/entities/base.entity.ts
Due: yarn prettier --write, yarn eslint --fix

refactor: extend AuthorEntity from BaseEntity
  apps/api/src/entities/author.entity.ts
Due: yarn prettier --write, yarn eslint --fix
